html,
body {
  background: #012;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 230px;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.MuiIconButton-label {
  color: white;
}

.icons {
  flex-direction: column;
  color: white;
}

li {
  display: flex;
  justify-content: center;
}

ul {
  margin-left: -40px;
}

@media (max-width: 768px) {
  h3 {
    font-size: 14px;
  }
  ul {
    margin-left: -20px;
  }
}
